# Environment Setting
ENVIRONMENT=production  # Options: 'development' or 'production'

# ---------------------------------------------------------------------------- #
#                                   Settings Services                          #
# ---------------------------------------------------------------------------- #

# Step 1: Text Extraction
# Utilizes the `unstructured` package to extract text.
# (Refer to src/services/text_extractor.py)
PATH_SOURCE_TEXT_EXTRACTION="data/raw/docs_cat_one/full"
PATH_DESTINATION_TEXT_EXTRACTION="data/processed/full"

# Step 2: Text Translation
# Employs a multilingual model for optional text translation.
# (Refer to src/services/text_translator.py)
PATH_SOURCE_TEXT_TRANSLATION="data/processed/full"
PATH_DESTINATION_TEXT_TRANSLATION="data/translated"
TARGET_LANGUAGE_TRANSLATION="en"

# Step 3: Text Cleaning
# Aggregates and cleans text according to specific requirements.
# (Currently under development, refer to src/services/text_cleaner.py)
PATH_SOURCE_TEXT_CLEANING="data/translated"
PATH_DESTINATION_TEXT_CLEANING="data/cleaned"

# ---------------------------------------------------------------------------- #
#                                   Settings use_cases                         #
# ---------------------------------------------------------------------------- #

# Step 5: Information Extraction
# Analyzes texts using GPT-3.5 to extract specific information.
PATH_SOURCE_INFO_EXTRACTION="data/processed/full"
PATH_DESTINATION_INFO_EXTRACTION="data/info_extracted"
OPENAI_API_KEY="your_openai_api_key_here"  

PROMPT_ROLE_USER = "You are a knowledgeable assistant specialized in analyzing and classifying texts. Extract key information in JSON format with keys 'key_1', 'key_2', 'key_3', 'key_4','key_5'. If certain information is not available, return an empty string for that key."
PROMPT_ROLE_SYSTEM = "..."

